.searchListPanel{
    background-color: #f2f4f5;
    min-height: 100%;
     border-top: 1px solid transparent;
}
.best{
    display: inline-block;
    font-size: 0.6rem;
    padding-top:0.6rem;
    padding-left: 0.4rem;
    color: #666666;
    margin-top: 2.3rem;
}
.searchListPanel .loading{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    align-items: center;
    width: 100%;
}
.searchListPanel .animation{
    background: url('../../img/a0_.png') no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
}
.searchListPanel .move{
    animation: fountain 0.5s infinite linear;
}
@keyframes fountain {
    0%{
        background: url('../../img/a0_.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    16.6%{
        background: url('../../img/a0a.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    33.2%{
        background: url('../../img/a0b.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    49.8%{
        background: url('../../img/a0c.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    66.4%{
        background: url('../../img/a0b.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    83%{
        background: url('../../img/a0a.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
    100%{
        background: url('../../img/a0_.png') no-repeat;
        background-size: 100%;
        width: 1rem;
        height: 1rem;
    }
}