.musicList{
    padding-left: 0.4rem;
    margin-bottom:2rem;
}
.musicList .best{
    display: inline-block;
    font-size: 0.6rem;
    padding-top:0.6rem;
    color: #666666;
}
.musicList .singerMusicCon{
    position: relative;
    top: 0px;
    bottom: 0px;
    font-size: 0px;
    padding: 0.4rem 0;
    display: flex;
    align-items: center;
}
.musicList .musicName{
    font-size: 0.65rem;
    font-weight: bold;
    color:#3774B0;
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.musicList .musicAuthor{
    font-size: 0.55rem;
    margin-top: 4px;
    color: #999999;
    display: inline-block;
    width: 12rem;
}
.musicList .singerMusicCon+.singerMusicCon{
    border-top: 1px solid #e7e9e9;
}
.musicList .textOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.musicList .chooseImg{
    height: 0.7rem;
    padding-right: 0.6rem;
}
